:root {
    --color-white: #ffff;
    --color-gray-01: #F2F4F6;
    --color-gray-02: #DEE0E1;
    --color-gray-03: #969696;
    --color-gray-04: rgb(195, 195, 195);
    --color-blue: #33588F;
    --color-green: #5CD17B;
    --color-red: #E2826B;
}