@import url("css/reset.css");
@import url("css/theme.css");
@import url("css/date-picker.css");
@import url("css/calendar.css");

* {    
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: 'Open Sans';
    background-color: var(--color-gray-01);
    font-size: 1.6rem;
    padding: 3rem;
    user-select: none;
}

.title {
    color: var(--color-red);
    font-size: 1.8rem;
}